@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic|Source+Code+Pro:300|Bitter:400,700,400italic";
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "Droid Sans", Helvetica, Arial, sans-serif;
  background: url(assets/gray_jean.png);
  font-size: 18px; }

p {
  font-family: "Source Sans Pro", "Droid Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  padding: 0 0 1em;
  margin: 0; }

ul, ol {
  line-height: 1.5em;
  margin: 0;
  padding: 0 0 1em 2em; }

h1, h2, h3, h4 {
  font-family: Bitter, "Source Sans Pro", "Droid Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding: 0;
  margin: .5em 0; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 1.3em; }

h3 {
  font-size: 1em; }

hr {
  height: 0px;
  padding: 1em 0 0;
  margin: 0 0 1em;
  border: 0px solid transparent;
  border-bottom: 1px solid #cccccc; }
  hr.notop {
    padding: 0; }

a {
  color: #1f7ead;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

header h1 {
  text-align: center;
  padding: 0;
  margin: 0 0 .5em; }
header .subtitle {
  font-size: 1.2em;
  color: gray;
  text-align: center;
  font-style: italic;
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc; }

footer p {
  color: gray;
  text-align: center;
  font-size: .95em; }
footer a {
  color: #269dd9; }

code {
  font-family: "Source Code Pro", Cousine, "Droid Sans Mono", monospace;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid #cccccc;
  padding: 0 4px;
  border-radius: 3px; }

pre {
  padding-bottom: 1em;
  overflow-x: scroll; }

h2.info {
  font-style: italic;
  color: #646464;
  font-weight: 400;
  text-align: center; }

.wrap {
  width: 80%;
  max-width: 800px;
  min-width: 400px;
  background: white;
  padding: 50px;
  margin: -35em auto 50px;
  box-shadow: 0px 0px 5px gray; }

.hero-img {
  background-image: url(assets/finalfrontier-crop.jpg);
  background-repeat: none;
  background-position: center bottom;
  height: 750px;
  width: 100%;
  border-bottom: 10px solid #444;
  padding: 0;
  margin: 0;
  background-color: black; }

nav {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 1em;
  padding: 1em 0; }
  nav ul {
    list-style: none;
    padding: 0;
    width: auto;
    display: table;
    margin: 0 auto; }
  nav li {
    display: inline-block;
    padding: 0 .5em;
    border-right: 1px solid #cccccc; }
    nav li:last-child {
      border-right: none; }
